<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels App</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Montserrat:400,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>

    <div class="jumbotron">
        <h1>Rusky Hotels</h1>
        <p class="lead">Reserve a place at the most expensive hotel on Earth.</p>
        <p><a href="" class="btn btn-primary btn-lg">Spend more money &raquo;</a></p>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="reservations-tab" data-toggle="tab" href="#tabReservations" role="tab" aria-controls="reservations" aria-selected="true">Reservations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="guests-tab" data-toggle="tab" href="#tabGuests" role="tab" aria-controls="guests" aria-selected="false">Guests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="rooms-tab" data-toggle="tab" href="#tabRooms" role="tab" aria-controls="rooms" aria-selected="false">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#tabInvoices" role="tab" aria-controls="invoices" aria-selected="false">Invoices</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active" id="tabReservations" role="tabpanel" aria-labelledby="reservations-tab">
            <div style="padding: 15px">
                <button id="newReservation" class="btn btn-default" data-toggle='modal' data-target='#add-reservation-modal'>Add New Reservation</button>
            </div>
            <table id="reservations" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Guest Id</th>
                        <th>Room Id</th>
                        <th>Reservation Status</th>
                        <th>Discount</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="tabGuests" role="tabpanel" aria-labelledby="guests-tab">
            <div style="padding: 15px">
                <button id="newGuest" class="btn btn-default" data-toggle='modal' data-target='#edit-guest-modal'>Add New Guest</button>
            </div>
            <table id="guests" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="tabRooms" role="tabpanel" aria-labelledby="rooms-tab">
            <div style="padding: 15px">
                <button id="newRoom" class="btn btn-default" data-toggle='modal' data-target='#add-room-modal'>Add New Room</button>
            </div>
            <table id="rooms" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Room Name</th>
                        <th>Room Type</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="tabInvoices" role="tabpanel" aria-labelledby="invoices-tab">
            <div style="padding: 15px">
                <button id="newInvoice" class="btn btn-default" data-toggle='modal' data-target='#add-invoice-modal'>Add New Invoice</button>
            </div>
            <table id="invoices" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Total Amount</th>
                        <th>Payment Status</th>
                        <th>Reservaton Id</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- Edit Reservaton modal -->
    <div class="modal fade" id="edit-reservation-modal" tabindex="-1" role="dialog" aria-labelledby="editReservationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="editReservationModalLabel">Reservation edit</h5>
                </div>
                <div class="modal-body">

                    <input type="hidden" class="form-control" id="editReservationId">
                    <input type="hidden" class="form-control" id="editReservationStatusId">
                    <div class="form-group">
                        <label for="editStartDate">Start date</label>
                        <input type="text" class="form-control" id="editStartDate" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editEndDate">End Date</label>
                        <input type="text" class="form-control" id="editEndDate" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editGuestId">Guest</label>
                        <input type="text" class="form-control" id="editGuestId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editRoomId">Room</label>
                        <input type="text" class="form-control" id="editRoomId" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editDiscount">Discount</label>
                        <input type="text" class="form-control" id="editDiscount" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="updateReservation" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Reservaton modal -->
    <div class="modal fade" id="add-reservation-modal" tabindex="-1" role="dialog" aria-labelledby="addReservatonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="addReservationModalLabel">Add New Reservation</h5>
                </div>
                <div class="modal-body">

                    <input type="hidden" class="form-control" id="addReservationId">
                    <div class="form-group">
                        <label for="addStartDate">Start date</label>
                        <input type="text" class="form-control" id="addStartDate" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addEndDate">End Date</label>
                        <input type="text" class="form-control" id="addEndDate" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addSelectGuestId">Select Guest</label>
                        <select class="form-control" id="addSelectGuestId">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addSelectRoomId">Select room</label>
                        <select class="form-control" id="addSelectRoomId">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="discount">Discount</label>
                        <input type="text" class="form-control" id="addDiscount" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addReservation" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Guest modal -->
    <div class="modal fade" id="edit-guest-modal" tabindex="-1" role="dialog" aria-labelledby="editGuestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="editGuestModalLabel">Guest edit</h5>
                </div>
                <div class="modal-body">

                    <input type="hidden" class="form-control" id="editGuestId">
                    <div class="form-group">
                        <label for="editFirstName">First name</label>
                        <input type="text" class="form-control" id="editFirstName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editLastName">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editAddress">Address</label>
                        <input type="text" class="form-control" id="editAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editEmail">Email</label>
                        <input type="text" class="form-control" id="editEmail" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="editPhoneNumber" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="updateGuest" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Add Guest modal -->
    @*<div class="modal fade" id="add-guest-modal" tabindex="-1" role="dialog" aria-labelledby="addGuestModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="addGuestModalLabel">Add New Guest</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addFirstName">First name</label>
                        <input type="text" class="form-control" id="addFirstName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addLastName">Last Name</label>
                        <input type="text" class="form-control" id="addLastName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addAddress">Address</label>
                        <input type="text" class="form-control" id="addAddress" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addEmail">Email</label>
                        <input type="text" class="form-control" id="addEmail" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="addPhoneNumber" placeholder="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addGuest" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@

    <!-- Edit Room modal -->
    <div class="modal fade" id="edit-room-modal" tabindex="-1" role="dialog" aria-labelledby="editRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="editRoomModalLabel">Room edit</h5>
                </div>
                <div class="modal-body">

                    <input type="hidden" class="form-control" id="editRoomId">
                    <input type="hidden" class="form-control" id="editRoomStatus">
                    <div class="form-group">
                        <label for="editRoomName">Room Name</label>
                        <input type="text" class="form-control" id="editRoomName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="editRoomTypeId">Select Room Type</label>
                        <select class="form-control" id="editRoomTypeId">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="updateRoom" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Room modal -->
    <div class="modal fade" id="add-room-modal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="addRoomModalLabel">Add New Room</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="addRoomName">Room name</label>
                        <input type="text" class="form-control" id="addRoomName" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="addRoomTypeId">Select room</label>
                        <select class="form-control" id="addRoomTypeId">
                            <option value="1">Single Bed</option>
                            <option value="2">Double Bed</option>
                            <option value="3">Triple Bed</option>
                            <option value="4">Penthouse</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="addRoom" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Api.js"></script>
    <script src="~/Scripts/Reservations.js"></script>
    <script src="~/Scripts/Guests.js"></script>
    <script src="~/Scripts/Rooms.js"></script>
    <script src="~/Scripts/Invoices.js"></script>
    <script src="~/Scripts/Room.js"></script>
</body>
</html>