<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels App</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Montserrat:400,700" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<body>

<div class="jumbotron">
    <h1>Rusky Hotels</h1>
    <p class="lead">Reserve a place at the most expensive hotel on Earth.</p>
    <p><a href="" class="btn btn-primary btn-lg">Spend more money &raquo;</a></p>
</div>

<h2>Reservation List</h2>

<p>
    @Html.ActionLink("Create new reservation", "New")
</p>

<div>
    <table id="reservations" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Guest Id</th>
                <th>Room Id</th>
                <th>Reservation Status</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Details</th>
            </tr>       
        </thead>
        <tbody></tbody>
    </table>
</div>

<button id="consoleButton" class="btn js-getRoom" data-id="1">Details</button>

<script src="~/Scripts/Reservations.js"></script>
<script src="~/Scripts/Api.js"></script>
<script src="~/Scripts/App.js"></script>
<script src="~/Scripts/Room.js"></script>



</body>
</html>