@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReservationList</h2>

<p>
    @Html.ActionLink("Create new reservation", "New")
</p>

<table id="reservations" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Guest Id</th>
            <th>Room Id</th>
            <th>Reservation Status</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>