@{
    ViewBag.Title = "GuestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guest List</h2>
<p>
    @Html.ActionLink("Add new guest", "AddGuest")
</p>
<table id="guests" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

